<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>US Covid 19 Cases</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
  <div class="container text-center">
    <h1 class="jumbotron">US Covid 19 Cases</h1>
    <div>
      <ul style="list-style: none;">
       <div id="plot1"></div>
       <div id="plot2"></div>
       <script>
         var us_covid_19_array= {{us_covid_19|tojson}};
         var date =[]
         var total_cases=[]
         var total_death=[]
         us_covid_19_array.forEach(element => {
          date.push(element[0])
          total_cases.push(element[1])
          total_death.push(element[6])
        });
         var trace1= {
           x: date,
           y: total_cases,
           type: 'line'
         }

         var trace2={
           x:date,
           y:total_death,
           type:'line'
         }

         var data=[trace1];

         var layout ={
           title: "Total US Covid 19 Cases by Date"
         }

         Plotly.newPlot("plot1",data,layout)

         data=[trace2];

         layout={
           title:"Total US Covid 19 Deaths by Date"
         }

         Plotly.newPlot("plot2",data,layout)
       </script>
      </ul>
    </div>
  </div>
</body>

</html>
