<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>US Covid 19 Cases</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
  <div class="container text-center">
    <h1 class="jumbotron">US Covid 19 Cases</h1>
    <div>
      <ul style="list-style: none;">
       <div id="plot1"></div>
       <div id="plot2"></div>
       <script>
        var us_covid_19_array=  {{us_covid_19|tojson}};
        var states=  {{states|tojson}};
        var states_covid_array = {{states_covid|tojson}};
       </script>
       <script src="static\js\chart.js"></script>
       <select class="form-control" id="state" onchange="myFunction()">
         <option value="">--Select State--</option>
       </select>
       <div id="plot3"></div>
       <div id="plot4"></div>
      </ul>
    </div>
  </div>
</body>

<script src="static\js\state.js"></script>
</html>
